<div class="menu-backdrop" (click)="close.emit()"></div>
<div class="menu-container">
  <div class="menu-header mobile-header">
    <mat-icon (click)="close.emit()">arrow_back</mat-icon>
    <h1>Menù</h1>
  </div>
  <div class="menu-item-container">
    <div class="menu-item" (click)="onAction('account')">
      <i class="icon">👤</i> Account
    </div>

    <div class="menu-item" (click)="onAction('my-events')">
      <i class="icon">➕</i> My events
    </div>
    <div class="menu-item logout" (click)="onAction('logout')">
      <i class="icon">🚪</i> Logout
    </div>
  </div>

</div>