.circle-container {
    padding: 3px;
    height: auto;
    width: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-light-gray);
    cursor: pointer;
}

.icon {
    height: 20px;
    width: 20px;
    color: var(--color-accent, #FCC324);
}

.circle-container.tablet .icon,
.circle-container.mobile .icon {
    height: 30px;
    width: 30px;
}