.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    font-family: var(--font-family-main);
}

h1 {
    font-size: 32px;
    margin-bottom: 16px;
}

p {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 40px;
}

.btn-logout {
    background-color: var(--color-error);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s;
}

.btn-logout:hover {
    opacity: 0.8;
}