.container{
    background-color: var(--color-gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    box-shadow: 0 0 35px #131313;
    width: 30%;
    height: 70%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
form{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button img{
    margin-right: 8px;
    height: 20px;
    vertical-align: middle;
}
