<div class="sidebar-container" [class.collapsed]="collapsed">
    <div class="header">
        <h1 class="logo">LUMO</h1>
        <button class="collapse-toggle" (click)="toggle()">
            <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
        </button>
    </div>

    <div class="search-container" *ngIf="!collapsed">
        <input type="text" placeholder="Search city, events or user" class="search-input">
        <mat-icon class="search-icon">search</mat-icon>
    </div>
    <div class="events-section" *ngIf="!collapsed">
        <h2 class="section-title">FOUND EVENTS</h2>

        <div class="events-list">
            @for (event of events; track $index) {
            <app-event-card [title]="event.title" [location]="event.city" [dateTime]="formatDateTime(event)"
                [distance]="formatDistance(event.distanceKm)" (focusLocation)="goToEvent(event)" />
            }
        </div>
    </div>
</div>