.container{
    background-color: var(--color-gray);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .verify-container{
    text-align: center;
    position: relative;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: var(--color-black);
    border-radius: 20px;
    padding: 40px;
    border: 2px solid var(--color-gray);
    display: flex;
    flex-direction: column;
    gap: 24px;
}