<div class="backdrop" (click)="onClose()"></div>

<div class="popup-container desktop">
    <div class="popup-content">
        <div class="mobile-header">
            <mat-icon (click)="onClose()">arrow_back</mat-icon>
            <h1>Create Event</h1>
        </div>

        <button class="close-btn close tablet-desktop-only" (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>

        <div class="header desktop-header">
            <h1>Create Event</h1>
            @if(generalError) {
            <p class="error">{{ generalError }}</p>
            } @else if ((errors | keyvalue).length > 0) {
            <p class="error">{{ (errors | keyvalue)[0].value }}</p>
            }
        </div>

        <form class="form">
            <div class="two-column single-column">
                <FormField [error]="hasError('title')" [control]="$any(form.get('title'))" [type]="'text'"
                    placeholder="Title" />
            </div>

            <FormField [error]="hasError('description')" [control]="$any(form.get('description'))" [type]="'textarea'"
                placeholder="Description" customClass="tall-field" />

            <div class="two-column">
                <FormField [error]="hasError('date')" [control]="$any(form.get('date'))" [type]="'date'"
                    placeholder="From" />
                <FormField [error]="hasError('endDate')" [control]="$any(form.get('endDate'))" [type]="'date'"
                    placeholder="To" />
            </div>

            <div class="two-column">
                <FormField [error]="hasError('startTime')" [control]="$any(form.get('startTime'))" [type]="'time'"
                    placeholder="Start" />
                <FormField [error]="hasError('endTime')" [control]="$any(form.get('endTime'))" [type]="'time'"
                    placeholder="End" />
            </div>

            <div class="two-column">
                <FormField [error]="hasError('nPartecipants')" [control]="$any(form.get('nPartecipants'))"
                    [type]="'number'" placeholder="Max Participants" />
                <FormField [error]="hasError('costPerPerson')" [control]="$any(form.get('costPerPerson'))"
                    [type]="'number'" [min]="0" placeholder="Cost (€)" />
            </div>

            <button type="button" class="button location-btn" (click)="selectLocationOnMap()">
                📍 {{ locationText }}
            </button>

            <button type="button" class="button" (click)="onSubmit()">Create Event</button>
        </form>
    </div>
</div>
