<div class="home-container">
  @if (!loggedUser) {
  <div class="top-bar">
    <a class="button" (click)="openSignUp()">Sign Up</a>
    <a class="button" (click)="openSignIn()">Sign In</a>
  </div>
  } @else {
  <div class="user-bar">
    <div class="profile-image-container" (click)="fileInput.click()">
      @if (loggedUser.profileImage) {
      <img [src]="loggedUser.profileImage" alt="Profile" class="profile-image">
      } @else {
      <div class="profile-placeholder">{{ getInitials(loggedUser.name || loggedUser.email) }}</div>
      }
      <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none" accept="image/*">
    </div>
    <div class="divider"></div>
    <a class="logout-link" (click)="logout()">Logout</a>
  </div>
  }

  @if (showSignUp) {
  <SignUpPopup (switchToSignIn)="switchToSignIn()" (close)="closeAll()"
    (signUpSuccess)="openVerifyPopup($event.email, $event.token)" (signInSuccess)="onSignInSuccess($event)" />
  }

  @if (showVerifyPopup) {
  <VerifyEmailPopup [email]="recentEmail" [token]="recentToken" [verified]="emailVerified" (close)="closeAll()"
    (resendVerification)="resendEmail()" />
  }

  @if (showSignIn) {
  <SignInPopup (switchToSignUp)="switchToSignUp()" (close)="closeAll()" (signInSuccess)="onSignInSuccess($event)" />
  }

  <MapView></MapView>
</div>