.top-bar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 8px;
  z-index: 1000;
  background: var(--color-gray);
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border: 1px solid var(--color-light-gray);
  align-items: center;
}