<div class="home-container">
  @if (!loggedUser) {
  <div class="top-bar">
    <a class="button" (click)="openSignUp()">Sign Up</a>
    <a class="button" (click)="openSignIn()">Sign In</a>
  </div>
  } @else {
  <app-action-bar [loggedUser]="loggedUser" (action)="onMenuAction($event)"></app-action-bar>

  <!-- Hidden input for file selection triggered by menu -->
  <input id="hiddenFileInput" type="file" (change)="onFileSelected($event)" style="display: none" accept="image/*">
  }

  @if (showSignUp) {
  <SignUpPopup (switchToSignIn)="switchToSignIn()" (close)="closeAll()"
    (signUpSuccess)="openVerifyPopup($event.email, $event.token)" (signInSuccess)="onSignInSuccess($event)" />
  }

  @if (showVerifyPopup) {
  <VerifyEmailPopup [email]="recentEmail" [token]="recentToken" [verified]="emailVerified" (close)="closeAll()"
    (resendVerification)="resendEmail()" />
  }

  @if (showSignIn) {
  <SignInPopup (switchToSignUp)="switchToSignUp()" (close)="closeAll()" (signInSuccess)="onSignInSuccess($event)" />
  }

  <MapView></MapView>

  @if (showCropPopup && selectedImageFile) {
  <CropImagePopup [imageFile]="selectedImageFile" (close)="showCropPopup = false"
    (imageCropped)="onImageCropped($event)">
  </CropImagePopup>
  }
</div>