.form-field {
    font: var(--font-stack-headline);
    display: block;
    min-width: 300px;
    min-height: 50px;
    max-width: 500px;
    padding: 0 16px;
    border-radius: 16px; 
    background-color: var(--color-gray);
    border: none;
    color: var(--color-white);
    font-size: 16px;
}
.form-field::placeholder{
    color: var(--color-light-gray);
    font-weight: var(--font-weight-light);
}
.form-field:focus{
    outline: none;
}