.form-field {
    display: block;
    width: 300px;
    height: 50px;
    padding: 0 16px;
    border-radius: 16px; 
    background-color: var(--color-gray);
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

.form-field:focus{
    outline: none;
}