<div class="input-wrapper" [ngClass]="customClass" [class.error]="error">
    @if (type === 'textarea') {
    <textarea [formControl]="control!" [placeholder]="placeholder" class="input-field"></textarea>
    } @else {
    <div class="input-with-toggle" [class.with-toggle]="showToggle && type === 'password'">
        <input [formControl]="control!" [type]="inputType" [placeholder]="placeholder" class="input-field"
            [attr.min]="min" />
        @if (showToggle && type === 'password') {
        <button type="button" class="toggle-btn" (click)="togglePasswordVisibility($event)">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        }
    </div>
    }
</div>
