.form-field {
    font: var(--font-stack-headline);
    display: block;
    min-width: 300px;
    min-height: 50px;
    max-width: 500px;
    padding: 0 var(--spacing-md);
    border-radius: var(--radius-lg);
    background-color: var(--color-gray);
    border: none;
    color: var(--color-white);
    font-size: 16px;
}

.form-field::placeholder {
    color: var(--color-light-gray);
    font-weight: var(--font-weight-light);
}

.form-field:focus {
    outline: none;
}


input[type="date"] {
    color: var(--color-light-gray);
}

.input-wrapper {
    width: 100%;
    position: relative;
}

.input-wrapper.tall-field {
    height: 80px;
}

.input-wrapper.tall-field .input-field {
    height: 100%;
    resize: none;
    padding-top: 12px;
}

.input-field {
    width: 100%;
    height: 50px;
    padding: 0 var(--spacing-md);
    background-color: var(--color-gray);
    border: 2px solid var(--color-gray);
    border-radius: var(--radius-lg);
    color: var(--color-white);
    font-size: 16px;
    font-family: inherit;
    /* Ensure textarea inherits font */
    font-weight: var(--font-weight-light);
    outline: none;
    transition: border-color 0.2s;
}

.input-field:focus {
    border-color: var(--color-accent);
}

.input-field::placeholder {
    color: var(--color-light-gray);
}

.input-wrapper.error .input-field {
    border-color: var(--color-error);
}

/* Fix for Chrome/Webkit Autofill background color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-gray) inset !important;
    -webkit-text-fill-color: var(--color-white) !important;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: var(--color-white);
}