.action-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    padding: 0 16px;
    background-color: var(--color-accent); 
    border: none; 
    border-radius: 16px ;
    box-shadow: 0 0 5px var(--color-accent, #FCC324); 
    color: var(--color-white, #FFFFFF);
    font-size: 18px; 
    font-weight: var(--font-weight-regular);
    font-family: var(--font-stack-headline, 'Stack Sans Headline'), Arial, sans-serif;
    text-decoration: none;
    cursor: pointer;
}