@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
@import url('mapbox-gl/dist/mapbox-gl.css');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-stack-headline);
}

:root {
    /* Colori */
    --color-accent: #FCC324;
    --color-white: #FFFFFF;
    --color-gray: #1a1a1a;
    --color-light-gray: #6a6a6a;
    --color-black: #121212;
    --color-error: #E53935;

    /* Font e Pesi */
    --font-stack-headline: 'Stack Sans Headline', Arial, sans-serif;
    --font-weight-light: 200;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}

/*stili di base per il body*/

body {
    color: var(--color-white);
}

/* titoli */
h1 {
    font-size: 36px;
    font-weight: var(--font-weight-bold);
    color: var(--color-accent);
    line-height: 1.2;
    text-shadow: 0 0 5px var(--color-accent);
    padding-bottom: 12px;
}

/* paragrafi */
p,
span,
div,
label {
    font-size: 16px;
    font-weight: var(--font-weight-light);
    color: var(--color-white);
    line-height: 1.5;
}

/*testi cliccabili*/
.click-text {
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    color: var(--color-accent);
    text-decoration: underline;
    cursor: pointer;
}

/* bottoni */

a.button,
button.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    width: auto;
    height: 50px;
    padding: 0 16px;
    background-color: var(--color-accent);
    border: none;
    border-radius: 16px;
    color: var(--color-white, #FFFFFF);
    font-size: 16px;
    font-weight: var(--font-weight-semibold, 600);
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.1s ease, filter 0.2s;
}

a.button:hover,
button.button:hover {
    filter: brightness(1.1);
    transform: scale(1.02);
}

a.button.generic,
button.button.generic {
    background-color: var(--color-white);
}
