<div class="card-container">
    <div class="info-section">
        <h3 class="title">{{ title() }}</h3>
        <p class="location">{{ location() }}</p>
        <p class="date-time">{{ dateTime() }}</p>
        @if (distance()) {
        <p class="distance">{{ distance() }}</p>
        }
    </div>
    <div class="actions-section">
        <div class="icon-circle" (click)="focusLocation.emit(); $event.stopPropagation()">
            <mat-icon>place</mat-icon>
        </div>
        @if (!isParticipating()) {
        <div class="icon-circle" (click)="toggleFavorite.emit(); $event.stopPropagation()">
            <mat-icon [class.saved]="isSaved()">{{ isSaved() ? 'favorite' : 'favorite_border' }}</mat-icon>
        </div>
        }
    </div>
</div>